In [ ]:
import requests
import pandas as pd

json_url = 'http://localhost:1111/manutencao'
try:

    response = requests.get(json_url)
    response.raise_for_status() 
    from io import StringIO
    df = pd.read_json(StringIO(response.text))
    print("DataFrame criado com sucesso!")

except requests.exceptions.ConnectionError:
    print("ERRO: Falha na conexão. Servidor recusou a conexão (Connection Refused).")

except requests.exceptions.HTTPError as err:
    print(f"ERRO HTTP: A requisição falhou com o status: {err.response.status_code}")

except Exception as e:
    print(f"Ocorreu um erro geral: {e}")
df.head(10)

DataFrame criado com sucesso!

,id,item,tempo_manutencao,data_manutencao,setor,observacao,resposavel
0,1,Servidor Principal,90,2025-11-10,Hardware,Substituição de módulos de memória RAM.,Carlos Eduardo
1,2,Impressora Laser B,45,2025-11-10,Escritorio,Troca de fusor e limpeza interna.,Ana Paula
2,3,Estação de Trabalho 15,20,2025-11-11,Hardware,Otimização de sistema operacional e drivers.,Felipe Silva
3,4,Máquina de Corte CNC,180,2025-11-12,Producao,Calibração dos eixos X e Y. Manutenção prevent...,Mariana Torres
4,5,Ar Condicionado Sala A,60,2025-11-12,Infraestrutura,Limpeza e recarga de gás refrigerante.,Carlos Eduardo

In [ ]:
df = df[['setor', 'tempo_manutencao', 'resposavel']]

X = df.drop('tempo_manutencao', axis=1)
y = df['tempo_manutencao']

0     90
1     45
2     20
3    180
4     60
Name: tempo_manutencao, dtype: int64